<!DOCTYPE html>
<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs')%>
    <h1>Some internal server error occured.</h1>
    <p>We are trying to fix this.</p><p>Sorry for the inconvenience.</p>
    <%-include('includes/end.ejs')%>
